<app-card>
    <p class="card-header">sssssssssssssss</p>
    <p class="card-body">body body body body body</p>
</app-card>
<br>
<app-card>
    <p class="card-header">sss1 s1sss ss1s s1ss s</p>
    <p class="card-body">body 2 2body2 body2 body 2body2</p>
</app-card>
<hr>
<app-parent2></app-parent2>
<hr>
<app-parent1></app-parent1>
<hr>
<app-parent-comp></app-parent-comp>
<hr>
<app-list-person></app-list-person>
<hr>
<app-person name="the anh" age="1"></app-person>
<hr>
<titleComp></titleComp>
<hr>
<!--The content below is only a placeholder and can be replaced.-->
<app-book></app-book>
<hr>
<app-user-form></app-user-form>
<hr>
<app-words></app-words>