<p>ReacttiveForm</p>
<form (ngSubmit)="onSubmit()" [formGroup]="formSignUp">
  <input 
    placeholder="Email"
    formControlName="email"
  >
  <br>
  <input 
    type="password" 
    placeholder="Password"
    formControlName="password"
  >
  <br>
  <div formGroupName="subject">
    <label><input formControlName="nodejs" type="checkbox" name="nodejs">nodejs</label>
    <label><input formControlName="reactjs" type="checkbox" name="reactjs">reactjs</label>
    <label><input formControlName="angular" type="checkbox" name="angular">angular</label>
  </div>
  <button>Submit</button>
</form>