<form (ngSubmit)="onSubmit(formSignIn);" #formSignIn="ngForm">
  <input 
    placeholder="Email"
    ngModel
    #txtEmail="ngModel"
    name="email"
    required
    email
  >
  <p *ngIf="txtEmail.touched && txtEmail?.errors?.required">
    Email is required
  </p>
  <p *ngIf="txtEmail.touched && txtEmail?.errors?.email">
    Email is not valid
  </p>
  <br>
  <input 
    type="password" 
    placeholder="Password" 
    ngModel 
    #txtPassword="ngModel"
    name="passwod" 
    required
    minlength="6"
    pattern="[a-z]*"
  >
  <br>
  <div ngModelGroup="subjects">
    <label><input [ngModel]=false type="checkbox" name="nodejs">nodejs</label>
    <label><input [ngModel]=false type="checkbox" name="reactjs">reactjs</label>
    <label><input [ngModel]=false type="checkbox" name="angular">angular</label>
  </div>
  <br>
  <button [disabled]="formSignIn.invalid">Submit</button>
</form>
<button (click)="postToExpress();">test post</button>
<p>{{txtEmail?.errors|json}}</p>
<p>{{txtPassword?.errors|json}}</p>
<p>{{formSignIn.value|json}}</p>